/* Definición de la paleta de colores que se va a usar */
:root{
  --blanco: #ffffff;
  --oscuro: #037e6f;
  --primario: #009988;
  --fade: #C8E0C4;
  --secundario: #741481;
  --gris: #757575;
  --grisClaro: #DFE9F3;
  --negro: #000;
  --Claro: #A0D6BF;
}

html{
  font-size: 62.5%;
  box-sizing: border-box; 
  scroll-snap-type:y mandatory;
  overflow-y: scroll;
  background-color: var(--primario);
}
.stop {
  background-color: var(--primario);
  height: 12vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
}
/* Tipografías */
h1 {
  font-size: 3.8rem;
  text-align: center;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
h1,h2,h3 {
  text-align: center;
}

.titulo{
    text-align: center;
    font-size: 4rem;
    color:var(--oscuro)
}



.enlaces {
  display: flex;
  gap: 20px;
}
footer{
  text-align: center;
}
.footer-f{
  background-color:var(--oscuro);;
  height: 3rem;
  padding: .5rem;
}

.nav-bg{
  position: fixed;
  background-color: var(--oscuro);
  padding-left: 1rem;
  padding-right: 1rem;
  top: 0;
  left: 0;
  height: 12vh;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

.nav-bg a{
  text-decoration: none;
  font-size: 2rem;
  color: var(--blanco);
  padding: 1rem 2rem;
  border-radius: 5px;

}
.barra{
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.nav-bg a:hover{
    background-color: var(--Claro);
    color: var(--negro); 
    cursor:pointer;
}

.nav-bg a:last-child {
    margin-right: 2rem;
}

/* Hero */
.hero-principal {
  background-image: url(../IMG/hero.png); 
  /* .. es para regresar en el directorio */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: calc(100vh - 12vh); /* Altura del viewport menos el margen inferior */
  /* height: 624px; Alto del Elemento */
  position: relative; /* El padre debe ser relative*/
}
.hero-servicios {
  background-image: url(../IMG/servicios.png); 
  /* .. es para regresar en el directorio */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: calc(100vh - 12vh); /* Altura del viewport menos el margen inferior */
  /* height: 624px; Alto del Elemento */
  position: relative; /* El padre debe ser relative*/
}
.hero-acerca {
  background-image: url(../IMG/acerca_de.png); 
  /* .. es para regresar en el directorio */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: calc(100vh - 12vh); /* Altura del viewport menos el margen inferior */
  /* height: 624px; Alto del Elemento */
  position: relative; /* El padre debe ser relative*/
}
.contenido-hero {
  position: absolute; /* El hijo debe ser absoluto */
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  /*Alinear vertical y horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenido-hero h2{
  color: var(--blanco);
}

.texto {
    display: flex;
    align-items: flex-end;
}

.contenido-hero h2 {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
}

.contenido-hero span {
    color: var(--primario);
}

.contenido-hero a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--blanco);
    margin-top: 3rem;
    background-color: var(--oscuro);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

.servicios h3{
    color: var(--primario);
}

.servicios p {
    text-align: center;
}




.subtitulo {
  margin-top: 2rem;
}

.contenedor .icono{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;  
    justify-content: center;
}

.contenedor p{
    text-align: center;
}

.servicios {
  display: inline;
}

.servicios .icono {
  margin: 1rem 0;
  background-color: var(--fade);
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .servicios {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
  }
  .icono svg{
    width: 100px;
    height: 100px;
  }

  .servicios .icono {
    margin: 2rem 0;
    background-color: var(--fade);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
}

.servicio {
  display: flex;
  padding: 2rem;
  background-color: var(--blanco);
  border-radius: 2rem;
  margin: 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.servicio h3 {
  font-size: 30px;
}


/* Estilos para el formulario */

/*Formato para el tam*/
.formulario{
    background-color: var(--primario); /*Color del fondo será gris*/
    width: min(60rem,100%); /*Tmamaño del recuadro para el formulario*/
    margin: 0 auto; /*Establece el margen del elemento*/
    padding: 2rem; /*Establece el relleno alrededor del contenido del elemento*/
    border-radius: 1rem; /*Establece que tan redondeado quieres las esquinas del elemento*/
    
}
/* Formato para el titulo dentro del formulario */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Krub', sans-serif;
}
/*body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0ce94d;
}*/
/*Características del ccontenedor (recuadro)*/
.container {
  background-color: var(--blanco);
  width: 80%;
  height: calc(100vh - 12vh - 3rem - 8rem);
  display: flex;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.49);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.49);
  margin-left: auto; /* Agrega esta línea */
  margin-right: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
  
}
.form-images img{
  height: 10%;
  width: auto;
}
.form-image{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Claro);
  padding: 1rem;
}
.form-image img{
  width: 80%;
}
.form{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 3rem;
}

.form-header{
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
.login-button{
  display: flex;
  align-items: center;
}
.login-button button{
  border: none;
  background-color: #6c63ff;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.login-button button:hover{
  background-color: #6b63fff1;
}
.login-button button a{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.form-header h2::after{
  content: '';
  display: block;
  width: 12rem;
  height: 0.5rem;
  background-color: #6c63ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.input-box{
  display: flex;
  flex-direction: column;
  
}

.input-box input{
  margin: 0.6rem 0.6rem 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #000000;
}
.input-box input:hover{
  background-color: #eeeeee75;
}
.input-box input:focus-visible{
  outline: 1px solid #6c63ff;
}
.input-box label, .gender-title h4{
  font-size: 1.6rem;
  font-weight: 800;
  color: #000000c0;
}
.input-box input::placeholder{
  color: #000000be
}
.gender-group{
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.gender-input{
  display: flex;
  align-items: center;
}
.gender-input input{
  margin-right: 0.35rem;
}

.gender-input label{
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000c0;
}
.continue-button{
  width: 100%;
  margin-top: 2.5rem;
}
.continue-button button{
  width: 100%;
  margin-top: 2.5rem;
  border:none;
  background-color: #6c63ff;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.continue-button button:hover{
  background-color: #6b63fff1;
}
.continue-button button a{
  text-decoration:  none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;

}
@media screen and (max-width:768px){
  .form-image{
    display: none;
  }
  .form{
    width: auto;
  }

}

/*Extras formulario*/
.login-button button, .continue-button button {
  transition: background-color 0.3s ease;
}
.form {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}
.container {
  border-radius: 10px;
  overflow: hidden;
}

/*  */
.texto{
  align-items: center;
  color: var(--blanco);
}

.contenido-acerca h3 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: var(--blanco);
  margin-bottom: 10px;

}

/* .hero-acerca {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150vh;
  padding: 6%;
  
} */

.contenido-acerca{
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
}

.icono {
  margin-right: 10px; /* Añadir espacio a la derecha del icono */
  margin-bottom: 15px;
}

.acercaa{
  margin-bottom: 50px;
}

.contenido-acerca p {
  color: var(--blanco);
  margin-bottom: 10px;
}